html { background: none repeat scroll 0 0 #FFFFFF; color: #000000;}
body{ font-family:Microsoft YaHei,MicrosoftJhengHei; background-color: #FFF; font-size: 12px }
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td { margin: 0;padding: 0;}
table { border-collapse: collapse; border-spacing: 0;}
fieldset, img { border: 0 none;}
address, caption, cite, code, dfn, em, strong, th, var { font-style: normal; font-weight: normal;}
li { list-style: none outside none;}
a{text-decoration: none;color:#000}
a:hover{color: rgb(65, 131, 196);}


* {
    -moz-box-sizing: border-box;
}
.clear{clear: both;height: 0px;}
.container{width: 980px;margin: 0px auto}
.hr{border-bottom: 1px solid rgb(238,238,238)}
h4{font-size:22px;color: rgb(85, 85, 85); margin-bottom: 15px}

.input{height: 30px;line-height: 30px;color: rgb(153, 153, 153);display: inline-block;margin-right: 10px;padding:0px 5px;border: 1px solid #ccc;border-radius: 2px;width: 200px}

/*通用布局*/
.right-block{float: right;width: 280px}
.left-block{float: left;width: 650px}
.middle-block{margin: 0px auto;width: 600px}

/*通用 头像＋用户名或者 社团图片＋社团名*/
.img_text{display: inline-block;overflow: hidden;line-height: 20px;}
.img_text img{float: left;margin-right: 8px;width: 20px;height: 20px}

/*通用按钮*/
.actionbutton-gray{
    text-decoration: none;
    display: inline-block;
    padding: 7px 12px;
    font-size: 13px;
    font-weight: bold;
    color: rgb(85, 85, 85);
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.9);
    white-space: nowrap;
    background-color: rgb(238, 238, 238);
    background-image: linear-gradient(rgb(252, 252, 252), rgb(238, 238, 238));
    background-repeat: repeat-x;
    border-radius: 3px;
    border: 1px solid rgb(213, 213, 213);
    vertical-align: middle;
    cursor: pointer;
    overflow: hidden;
    line-height: 18px
}
.actionbutton-gray img.avatar{ width: 18px; height: 18px;float: left;margin-right: 5px}
.actionbutton-gray span{float: left}
.actionbutton-gray:hover{
    background-color: rgb(221, 221, 221);
    background-image: linear-gradient(rgb(238, 238, 238), rgb(221, 221, 221));
    background-repeat: repeat-x;
    color: rgb(85, 85, 85);
}

.actionbutton-green{
    text-decoration: none;
    display: inline-block;
    padding: 7px 12px;
    font-size: 13px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
    white-space: nowrap;
    background-color: rgb(86, 158, 61);
    background-image: linear-gradient(rgb(121, 216, 88), rgb(86, 158, 61));
    background-repeat: repeat-x;
    border-color: rgb(74, 153, 62); 
    border-radius: 3px;
    border: 1px solid rgb(92, 169, 65);
    vertical-align: middle;
    cursor: pointer;   
    line-height: 18px;
}

.actionbutton-green:hover{
    background-color: rgb(96, 176, 68);
    background-image: linear-gradient(rgb(138, 221, 109), rgb(96, 176, 68));
    background-repeat: repeat-x;
    color: rgb(255, 255, 255);
}


.button-group{margin-bottom: 10px}
.button-group a{
    float:left;
    text-decoration: none;
    display: inline-block;
    padding: 7px 12px;
    font-size: 13px;
    font-weight: bold;
    color: rgb(85, 85, 85);
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.9);
    white-space: nowrap;
    background-color: rgb(238, 238, 238);
    background-image: linear-gradient(rgb(252, 252, 252), rgb(238, 238, 238));
    background-repeat: repeat-x;
    border-top: 1px solid rgb(213, 213, 213);
    border-bottom: 1px solid rgb(213, 213, 213);
    border-left: 1px solid rgb(213, 213, 213);
    vertical-align: middle;
    cursor: pointer;
}

.button-group a:hover{
    background-color: rgb(221, 221, 221);
    background-image: linear-gradient(rgb(238, 238, 238), rgb(221, 221, 221));
    background-repeat: repeat-x;
    color: rgb(85, 85, 85);
}
.button-group a.first-child{
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.button-group a.last-child{
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-right: 1px solid rgb(213, 213, 213);
}

.button-group .selected{
    background-color: rgb(220, 220, 220);
    background-image: none;
    border-color: rgb(181, 181, 181);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15) inset;   
}


/*通用表达form_table*/
.form_table{}
.form_table{padding: 20px 10px}
.form_table dl dt{color: rgb(102, 102, 102);margin-bottom: 10px}
.form_table dl dt label{font-size: 14px}
.form_table dl dd{margin-bottom: 20px}

.form_table .upload-avatar{overflow: hidden}
.form_table .upload-avatar img{width: 100px;height: 100px;float: left;margin-right: 10px}
.form_table .upload-avatar p{margin-top: 10px}
.form_table .tip{color: rgb(153, 153, 153);line-height: 22px}
.form_table .tip a{color: rgb(65, 131, 196);}

/*通用header*/
.general-header{
    border-bottom: 1px solid #ccc;height: 45px;
    background-color: rgb(243, 243, 243);
    background-image: linear-gradient(rgb(249, 249, 249), rgb(243, 243, 243));
    background-repeat: repeat-x;}
.general-header a.logo img{ width: 35px;height: 30px;float: left;margin-top: 6px }
.general-header ul.menu{float: right;margin-right:50px;}
.general-header ul.menu li{float: left;padding:0px 15px;line-height: 44px}
.general-header ul.menu li a{font:14px bold;}
.general-header a.actionbutton-green,.general-header a.actionbutton-gray{float: right;margin:8px 5px 0px 0px;padding:4px 6px;line-height: 18px;}
.general-header ul.actions{float: right;}
.general-header ul.actions li{float: left;padding: 0px 5px;line-height: 44px}
.general-header ul.actions li a{font-size: 12px;color: rgb(128, 128, 128)}
.general-header ul.actions li a:hover{color: rgb(65, 131, 196);}

/*通用foot*/
.general-foot{margin-top: 50px;border-top:1px solid rgb(238, 238, 238)}
.general-foot ul li{line-height: 100px;float: left;margin-right: 30px;color: rgb(119, 119, 119)}
.general-foot .links a{color: rgb(65, 131, 196);}


/*通用title*/
.general-title{margin-bottom: 5px;overflow: hidden;height: 30px}
.general-title h3{font-size: 18px;color: rgb(0, 0, 0);float: left;line-height: 30px;margin-right: 5px}
.general-title h3 span{color: rgb(128, 128, 128);margin: 0px 5px;font-size: 14px}
.general-title a.actionbutton-gray{float: left;padding: 4px 6px;line-height: 14px}

/*通用pageheader*/
.general-pageheader{height: 81px;border-bottom: 1px solid rgb(238, 238, 238);margin-bottom: 20px}
.general-pageheader h1{font: 22px;line-height:80px;display: inline-block;float: left}
.general-pageheader h1.title span{font-size: 20px;color: rgb(128, 128, 128);margin: 0px 5px}
.general-pageheader h1.navigate a{color: rgb(65, 131, 196)}
.general-pageheader h1.navigate span{margin: 0px 10px;font-weight: normal}
.general-pageheader h1.navigate strong{font-size: 20px;color: rgb(128, 128, 128);}
.general-pageheader .actionbutton-gray{padding: 4px 6px;float: left;margin:25px 0px 0px 5px;line-height: 14px}

.general-pageheader ul{float: right}
.general-pageheader ul li{float: left}
.general-pageheader ul li a{display:block;border-bottom: 2px solid #fff; font-size: 14px;line-height: 78px;margin: 0px 10px}
.general-pageheader ul li a.selected{border-bottom-color: rgb(210, 105, 17);}


/*通用box*/
.box{}
.box .box-header{
    padding: 0px 10px;
    height:31px;
    background-color: rgb(234, 234, 234);
    background-image: linear-gradient(rgb(250, 250, 250), rgb(234, 234, 234));
    background-repeat: repeat-x;
    border: 1px solid rgb(213, 213, 213);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.box .box-header h3{
    float: left;
    font-size: 14px;
    line-height: 30px;
    color: rgb(85, 85, 85);
}
.box .box-header h3 span{color: rgb(128, 128, 128);margin: 0px 5px;font-size: 12px}

.box .box-body{
    background-color: rgb(255, 255, 255);
    border-style: solid;
    border-color: rgb(213, 213, 213);
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    border-width: 0px 1px 1px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.box .box-body .box-ul-list{width: 100%}
.box .box-body .box-ul-list li{border-bottom: 1px solid rgb(213, 213, 213); }
.box .box-body .box-ul-list li:last-child{border: none}


/*通用border-box*/
.border-box{padding: 3px; background:  rgb(239, 239, 239); border-radius: 2px;}
.border-box .box-container{border-radius: 2px;border: 1px solid rgb(216, 216, 216);}
.border-box .box-container .box-header{
    background-color: rgb(224, 224, 224);
    background-image: linear-gradient(rgb(250, 250, 250), rgb(224, 224, 224));
    background-repeat: repeat-x;
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5) inset;
    display: block;
    padding: 10px;
    border-bottom: 1px solid rgb(204, 204, 204);
    color: rgb(85, 85, 85);
    font-size: 16px;
    font-weight: bold
}
.border-box .box-container .box-body{background: #fff}


/*通用feedlist*/
.general-feedlist{}
.general-feedlist li{line-height: 30px;padding: 5px 0px;border-bottom: 1px solid rgb(238,238,238)}
.general-feedlist li .avatar{width: 30px;height: 30px;float: left;margin-right: 5px}
.general-feedlist li b{float: left;margin-right: 5px}
.general-feedlist li p{float: left;width: 530px;color: rgb(85,85,85);}
.general-feedlist li p span{color: rgb(128, 128, 128);margin: 0px 5px}



/*通用general-show-list*/
.general-show-list{}
.general-show-list {width:100%;}
.general-show-list li{float: left;margin: 0px 10px 15px 0px;padding: 10px;border-radius: 3px;border: 1px solid rgb(238, 238, 238)}
.general-show-list li img.cover{width: 180px;height:180px}
.general-show-list li .info{line-height: 22px;color:rgb(128, 128, 128);margin:2px 0px}
.general-show-list li .info img.icon{width: 10px;height: 10px;}
.general-show-list li .info span{margin: 0px 10px}



/*通用左侧基础信息 baseinfo*/
.general-baseinfo-box{}
.general-baseinfo-box .box-header img{width: 150px;height: 150px}
.general-baseinfo-box .box-header h3{margin:5px 0px;font-size: 24px}

.general-baseinfo-box .box-body{padding:10px 0px;}
.general-baseinfo-box .box-body .data-with-icon{overflow: hidden}
.general-baseinfo-box .box-body .data-with-icon img{width: 12px;height: 12px;float: left}
.general-baseinfo-box .box-body .data-with-icon span{float: left;color:rgb(128, 128, 128);margin:0px 10px}
.general-baseinfo-box .box-body table{width: 100%;}
.general-baseinfo-box .box-body table tr td{font-size:14px;line-height: 20px;color: rgb(128, 128, 128);padding: 5px 0px}
.general-baseinfo-box .box-body table tr td.title{width: 50px;color: rgb(0,0,0)}
.general-baseinfo-box .box-body table tr td .avatar{width: 20px;height: 20px;float: left;margin-right: 5px}
.general-baseinfo-box .box-body table tr td a{line-height: 20px;float: left}

.general-baseinfo-box .box-bottom{padding:10px 0px;border-top: 1px solid rgb(238,238,238);}


/*通用  右侧按钮box*/
.please-action-box{}
.please-action-box{margin-top:20px;border-top: 1px solid rgb(238, 238, 238);border-bottom:1px solid rgb(238, 238, 238);padding: 20px 0px}
.please-action-box p{color:rgb(128, 128, 128);line-height: 22px  }
.please-action-box p a{color: rgb(65, 131, 196);}

/*首页*/
.index-header{height: 81px;border-bottom: 1px solid #ccc}
.index-header a.logo{ font: 32px/80px bold;  color:#000000;float: left}
.index-header ul{float: right;margin-right:50px;}
.index-header ul li{float: left;padding:0px 15px;line-height: 80px}
.index-header ul li a{font:18px bold;}
.index-header a.actionbutton-gray{float: right;margin-top: 24px;line-height: 14px}

.index-markblock{height:500px;background: url('/resource/images/main-bg.png') repeat-x;padding-top:50px}
.index-markblock .info-box{ float: left;width: 500px}
.index-markblock .info-box h1{font-size: 65px;color: #fff;line-height: 80px}
.index-markblock .register-box{ float: right;width: 300px}
.index-markblock .register-box dl dd{}
.index-markblock .register-box dl dd input{
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #fff;
    margin: 5px 0px;
    background-color: rgb(250, 250, 250);
}
.index-markblock .register-box dl dd input:focus {
    background-color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.075) inset, 0px 0px 12px rgba(255, 255, 255, 0.75);
}
.index-markblock .register-box .actionbutton-green{width: 100%;margin:10px 0px;border-radius: 5px;font-size: 16px;padding: 10px;}


.index-businessblock{padding:100px 0px;}
.index-businessblock p.title{text-align: center;font-size: 24px}
.index-businessblock  table{width: 100%;margin-top: 50px}
.index-businessblock  table tr td{border-right: 1px solid #ccc;border-bottom: 1px solid #ccc;padding:30px;text-align: center}
.index-businessblock  table tr td:last-child{border-right: none}
.index-businessblock  table tr:last-child td{border-bottom: none}
.index-businessblock  table tr td p{text-align: left;font-size: 14px;color: rgb(90, 90, 90)}
.index-businessblock  table tr td div.business-icon{display: inline-block;width: 150px;height: 150px;margin-bottom: 20px}
.index-businessblock  table tr td div.icon1{background: url("/resource/images/business_icon.png") no-repeat 0px -600px}
.index-businessblock  table tr td div.icon2{background: url("/resource/images/business_icon.png") no-repeat 0px -300px}
.index-businessblock  table tr td div.icon3{background: url("/resource/images/business_icon.png") no-repeat 0px -150px}
.index-businessblock  table tr td div.icon4{background: url("/resource/images/business_icon.png") no-repeat -150px -600px}
.index-businessblock  table tr td div.icon5{background: url("/resource/images/business_icon.png") no-repeat -150px -150px}



/*showmain*/

.showmain-category-tips{text-align: right;font-size: 12px;line-height: 30px}
.showmain-category-tips a{color:rgb(65, 131, 196)}

.showmain-category-list dd p.letter{width: 30px;font: 22px bold;float: left}
.showmain-category-list dd ul{float: left;width: 620px}
.showmain-category-list dd ul li{margin:0px 20px 10px 20px;float: left}
.showmain-category-list dd ul li p{text-align: center;line-height: 22px}
.showmain-category-list dd ul li .cover{display: inline-block;border: 2px solid #ccc;padding:1px}
.showmain-category-list dd ul li .cover,.showmain-category-list dd ul li .cover img{
    width: 100px;height: 100px;-webkit-border-radius: 60px;border-radius: 60px;
-moz-border-radius: 60px;-moz-box-sizing: content-box;}
.showmain-category-list  dd{margin-bottom: 30px;border-bottom: 1px solid rgb(238, 238, 238);}

.showmain .right-block .please-action-box{margin-bottom: 20px}
.showmain-newest li{padding: 15px}
.showmain-newest li img.cover{float: left;width: 60px;height: 60px;margin-right: 10px}
.showmain-newest li .info span{margin: 0px 10px}
.showmain-newest li .info a{font-weight: bold}
.showmain-newest li .info p{line-height: 22px;color: rgb(128, 128, 128);}


.showcatelist .right-block ul{border-left: 1px solid rgb(238, 238, 238);}
.showcatelist .right-block ul li a.selected{border-left-color:rgb(210, 105, 17);color:#000}
.showcatelist .right-block ul li a{ display: block;border-left:2px solid #fff;line-height: 25px;padding-left:20px;color: rgb(65, 131, 196);}

/*showinfo*/
.showinfo .left-block{position: relative}
.showinfo .showinfo-list p{font-size:12px;line-height: 22px;text-align: right;color: rgb(128, 128, 128);}

.showinfo .timeline{position: absolute;top: 0px;left: -170px;}
.showinfo .timeline ul{border-right: 2px solid rgb(238, 238, 238);padding-bottom:30px}
.showinfo .timeline ul li a{width: 150px;font-size:14px;color:rgb(128, 128, 128);display: block;padding: 10px;border-right: 2px solid rgb(255, 255, 255);}
.showinfo .timeline ul li a.selected,.showinfo .timeline ul li a:hover{color:rgb(0,0,0);font-size:22px;border-right-color:rgb(210, 105, 17)}



.showinfo .comment{margin-top:20px;}
.showinfo .comment textarea{resize: none;width: 100%;height: 50px;border: 1px solid #ccc;border-radius: 3px;padding: 5px; color:rgb(128, 128, 128); font-size: 12px}
.showinfo .comment form p{color: rgb(128, 128, 128);float: right;display: inline-block;line-height: 32px}
.showinfo .comment form button{float: left;padding: 3px 5px;margin-top: 3px;margin-right: 3px}
.showinfo .comment ul{margin-top:20px}
.showinfo .comment ul li{border-bottom: 1px solid rgb(238, 238, 238);padding: 15px 0px}
.showinfo .comment ul li .avatar{float: left;width: 30px;height: 30px;}
.showinfo .comment ul li .content{float: left;width: 240px}
.showinfo .comment ul li .content{color: rgb(128, 128, 128);line-height: 22px;padding-left: 5px}
.showinfo .comment ul li .content a{color:#000;font-weight: bold;margin-right:10px}
.showinfo .comment ul li .reply{text-align: left;margin-top:5px;margin-left: 30px;padding:0px 5px;float: left;width: 240px;background: rgb(245, 245, 245);line-height: 22px}


/*societies-main*/
.societies-list{margin-top: 10px}
.societies-list li{border-bottom: 1px solid rgb(238, 238, 238);padding-bottom:20px;margin-bottom: 15px}
.societies-list li .cover{width: 100px;height: 100px;float: left;margin-right: 10px}
.societies-list li .info{float: left;}
.societies-list li .info h3{font-size: 18px;line-height: 24px}
.societies-list li .description{color: rgb(128, 128, 128);line-height: 22px;height: 50px;width: 450px}
.societies-list li .base-info table td{vertical-align: center;padding: 0px 10px 0px 0px;color: rgb(128, 128, 128);}
.societies-list li .base-info table td.title{color: rgb(0, 0, 0);}

/*societies-info*/
.societies-info .societies-bulletin{padding: 10px ;line-height: 22px;color: rgb(85,85,85);background: rgb(245,245,245);margin-bottom: 30px}

.societies-info .general-feedlist{margin-bottom: 30px}
.societies-info .societies-userlist li{float: left;width: 150px;padding: 0px 10px 10px 0px}

.societies-info .societies-show-newest{margin-bottom: 30px}
.societies-info .societies-show-newest li{float: left;margin: 0px 10px 15px 0px;padding: 10px;border-radius: 3px;border: 1px solid rgb(238, 238, 238)}
.societies-info .societies-show-newest li img.cover{width: 180px;height:180px}

/*usermain*/
.usermain .general-feedlist{margin-bottom: 30px}
.usermain .usermain-societies-list{}
.usermain .usermain-societies-list ul li{float: left;width: 200px;margin: 10px 10px 0px 0px;overflow: hidden}
.usermain .usermain-societies-list ul li img{float: left;width: 60px;height: 60px;margin-right: 5px}
.usermain .usermain-societies-list ul li div{float: left;}
.usermain .usermain-societies-list ul li div h3{font-size: 16px}
.usermain .usermain-societies-list ul li div em{line-height: 22px;color: rgb(128, 128, 128)}
.usermain .usermain-societies-list ul li div p{line-height: 22px;}
.usermain .usermain-societies-list ul li div p span{color: rgb(128, 128, 128);margin: 0px 5px}
.usermain .usermain-societies-list .hr{margin: 10px 0px}


/*usersetting*/
.usersetting .left-block{width: 250px}
.usersetting .right-block{width: 700px}

.usersetting .menu li{border-bottom: 1px solid rgb(238,238,238)}
.usersetting .menu li a{padding-left: 10px; background:  rgb(250, 250, 251); font-size: 12px;display:block;border-left: 2px solid rgb(250, 250, 251);color: rgb(65, 131, 196);line-height: 36px;}
.usersetting .menu li a.selected{border-left-color:rgb(210, 105, 17); color: rgb(0,0,0);background:  #fff;}
.usersetting .menu li a:hover{background: rgb(253, 253, 254)}



/*usercosword*/
.usercoswork-filter{margin-bottom: 20px}
.usercoswork-filter .input,.usercoswork-filter .actionbutton-gray{margin-bottom: 5px}

/*societies-setting*/
.societies-setting .left-block{width: 250px}
.societies-setting .right-block{width: 700px}
.societies-setting .menu li{border-bottom: 1px solid rgb(238,238,238)}
.societies-setting .menu li a{padding-left: 10px; background:  rgb(250, 250, 251); font-size: 12px;display:block;border-left: 2px solid rgb(250, 250, 251);color: rgb(65, 131, 196);line-height: 36px;}
.societies-setting .menu li a.selected{border-left-color:rgb(210, 105, 17); color: rgb(0,0,0);background:  #fff;}
.societies-setting .menu li a:hover{background: rgb(253, 253, 254)}

/*societies-members*/
.societies-members .societies-members-list ul{overflow: hidden;padding: 0px 0px 20px 0px;width: 100%;margin-bottom:20px;border-bottom: 1px solid rgb(238,238,238)}
.societies-members .societies-members-list ul li{float: left;padding: 5px 0px;margin-right: 30px}
.societies-members .societies-members-list ul li .img_text{line-height: 40px;font-size: 18px;color: rgb(65, 131, 196);}
.societies-members .societies-members-list ul li .img_text img{width: 40px;height: 40px}